.button {
    -fx-background-color: rgba(0,0,0,0);
}

.button:hover {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}

.button:pressed {
     -fx-background-color: rgb(255, 203, 203);
}